%header
  .row
    .large-4.columns
      %h1
        = link_to "Usman Bashir", "/index.html", class: "url fn"
    .large-8.columns
      %nav.right
        %ul.inline-list
          %li
            = link_to "Home", "/index.html"
          %li
            = link_to "About Me", "/about-me.html"
          %li
            = link_to "Portfolio", "/portfolio.html"
          %li
            = link_to "Lab", "/lab.html"
          %li
            = link_to "Blog", "/blog.html"
          %li
            = link_to "Contact Me", "/contact-me.html"
