%header
  .contain-to-grid
    %nav.top-bar{:data => {:"topbar" => ""}}
      %ul.title-area
        %li.name
          %h1
            = link_to "Studio 966", "/", class: "url fn"
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        %li.toggle-topbar.menu-icon
          = link_to "Menu", "#", class: "url fn"
      .section.top-bar-section
        %ul.right
          %li.heartbeat
            = link_to "Services" , "/services", class: "url fn"
          %li.heartbeat
            = link_to "Products" , "/products", class: "url fn"
          %li.heartbeat
            = link_to "Blog" , "/blog", class: "url fn"
          %li.heartbeat
            = link_to "Contact Us" , "/contact", class: "url fn"

