%header
  .contain-to-grid
    %nav.top-bar{:data => {:"topbar" => ""}}
      %ul.title-area
        %li.name
          - link_to 'index.html' do 
            = image_tag 'images/logo.png'
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        %li.toggle-topbar.menu-icon
          = link_to "Menu", "#", class: "url fn"
      .section.top-bar-section
        %ul.right
          %li.servicesnav
            = link_to "Services" , "/services", class: "url fn"
          %li.productsnav
            = link_to "Products" , "/products", class: "url fn"
          %li
            //= link_to "Blog" , "/blog", class: "url fn"
          %li.hirenav
            = link_to "Hire Us" , "/hire", class: "url fn"

