%header
  .row
    .large-4.columns
      %h2
        = link_to "Usman Bashir", "/", class: "url fn"
    .large-8.columns
      %nav.right
        %ul
          %li
            = link_to "About Me", "/about-me"
          %li
            = link_to "Work", "/work"
          %li
            = link_to "Blog", "/blog"
          %li
            = link_to "Contact Me", "/contact-me"
