%header
  .row
    .large-4.columns
      %h2
        = link_to "Usman Bashir", "/index.html", class: "url fn"
    .large-8.columns
      %nav.right
        %ul
          %li
            = link_to "About Me", "/about-me.html"
          %li
            = link_to "Work", "/work.html"
          %li
            = link_to "Blog", "/blog.html"
          %li
            = link_to "Contact Me", "/contact-me.html"
