!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    
    -# Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Studio 966| Beam Me Up, Scotty"

    -# Set the viewport width to device width for mobile
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=PT+Sans", type: "text/css" }
    %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Vollkorn", type: "text/css" }
    %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Arvo", type: "text/css" }
    = stylesheet_link_tag "application"
  
  %body{ class: page_classes }
    = partial "layouts/unsupported_browsers"
    = partial "layouts/header"
    = yield
    .map-966
      .full-width.banner
        .row.map-contact-us
          .contact-us
            %h2
              Contact Us
            %p
              We love to hear from our clients and customers.
            %p.email-contact
              Inquiries:
              %a{ href: "mailto:hello@966.io", class: "heartbeat", alt: "e-mail us"} hello@966.io

            %p.twitter-contact
              Twitter: 
              %a{ href: "http://twitter.com/966io", class: "heartbeat", alt: "e-mail us"} @966io
            %p.address-contact
              3rd floor, Al-Murjan Building
            %p.address-contact
              Hail Street, Jeddah, Saudi Arabia
    .newsletter
      .full-width
        .row
          .large-6.columns.newsletter-description.small-12
            %h2
              Studio 966 Newsletter
            %p
              Sign up for our  weekly newsletter of the best articles on startups, entrepreneurship, technology, programming, and more. All links are curated by hand from the most talked about content in the tech community.
          .large-6.columns.form.small-12
            :plain
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="http://currrva.us8.list-manage.com/subscribe/post?u=03baa6734b1ba1e29373d4fe4&amp;id=11d6d828b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                    <label for="mce-FULLNAME">Full Name </label>
                        <input type="text" value="" name="FULLNAME" class="" id="mce-FULLNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                    <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_03baa6734b1ba1e29373d4fe4_11d6d828b6" tabindex="-1" value=""></div>
                                                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                                                </form>
                                                                </div>

                                                                <!--End mc_embed_signup-->
    = partial "layouts/footer"

    = javascript_include_tag "all"

  :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50135610-1', '966.io');
        ga('send', 'pageview');

