---
title: 966.io Studios | We Are The Best! 
---
.p-header-container.row
  .portfolio-header.large-12.columns
    %h1
      Taking food delivery to the next level.
  .portfolio-banner.show-for-small-up.large-12.columns
    .orbit-container
      %ul.orbit{:data => {:orbit=> ""}}
        %li
          = image_tag 'banners/banner-hunger-station-1.jpg'
        %li
          = image_tag 'banners/banner-hunger-station-2.jpg'


.portfolio-content.row
  .our-responsibilities.small-12.large-3.columns
    %ul
      %li 
        %h4
          Our Responsibilities:
      %li
        User Research
      %li
        User Experience
      %li
        User Interface Design
      %li
        Content Architecture 
        
  .case-study.small-12.large-6.columns
    %p
      Hunger station is a trendy food delivery app that is popular with the users in Saudi Arabia and the Gulf region. An app among many, this one is far from run-of-the-mill in that it contains an easy fluid design that appeals to the eyes and to the need for quick functionality.
    %p
      We were happy to work with the app team to further develop the various glitches in the app’s UX and UI. For example, we found, through usability studies that customers are often frustrated with the inconsistency of location names, This, among other things, was remedied by our team in order to create a more fluid UX (see 
      - link_to "http://rtaibah.com/hs/introduction.html" do
        = 'full report'
      ). We also constructed a whole new design persona for the app’s copy so that the app would have the leverage of a distinct character

    %p
      Finally, we helped the Hunger Station team to upgrade their visual interface. With some careful design, we were able to create a unique set of screens that all speak one language and have one visual voice without straying too far from the brand’s original visual scheme and its integrity. 


  .client-info.small-12.large-3.show-for-medium-up.columns
    .row
      .large-12.columns
        = image_tag 'logos/hunger-station-logo.png'
    .row
      .large-12.columns
        %ul
          %li
            %i
              .fi-link
          %li
            - link_to 'https://play.google.com/store/apps/details?id=com.hungerstation.android.web&hl=en' do
              = 'Android App'
        %ul
          %li
            %i
              .fi-link
          %li
            - link_to 'https://itunes.apple.com/us/app/hungerstation/id596011949?mt=8' do
              = 'iOS App'
