---
title: Studio 966 | AlBaik Order Pickup
---
.p-header-container.row
  .portfolio-banner.show-for-medium-up.large-12.columns
    .orbit-container
      %ul.orbit{:data => {:orbit=> "animation_speed: 500; pause_on_hover: true; navigation_arrows: true;"}}
        %li
          = image_tag '../images/portfolio-banners/banner-albaik-1.jpg'
        %li
          = image_tag '../images/portfolio-banners/banner-albaik-2.jpg'
        %li
          = image_tag '../images/portfolio-banners/banner-albaik-3.jpg'
  .portfolio-header.large-12.columns
    %h1
      A Simplified Solution to get your fried chicken fix!

.portfolio-content.row.full-width
  .our-responsibilities.small-12.large-2.large-offset-1.columns
    %ul
      %li 
        %h4
          Our Responsibilities:
      %li
        User Research
      %li
        User Experience
      %li
        User Interface Design
      %li
        Product Management 
  .case-study.small-12.large-6.columns
    %p
      AlBaik is Saudi’s beloved fried chicken franchise and we loved working with them.  With customers clamoring for fried chicken meals in abundance, we decided to help AlBaik to fine tune their ordering-online interface. 

    %p
      AlBaik, being one of Saudi’s corporate social responsibility sweethearts, currently has wide reach and because of this, our work with them required extensive UI and UX research. We formulated several models to enhance one particular aspect of the ordering process: adding to the basket.  This step is crucial as it set the speed of ordering and, hence, the speed of delivery. Because everyone wants their baik ASAP!  

    %p
      We first looked at the customer profiles to understand their needs throughout the ordering process, then, through an iterative process of testing, programming, and designing, we were able to come up with a final solution for a web application that offers a quick and smooth experience that both AlBaik and Studio966 are proud of. 

  .client-info.small-12.large-2.show-for-medium-up.end.columns
    .row
      .large-12.columns
        = image_tag '../images/albaik-logo.png'
    .row
      .large-12.columns
        %ul
          %li
            %i
              .fi-link
          %li
            - link_to 'http://orderonline.albaik.com' do
              = 'Visit the Site'
