---
title: Studio 966 | Beam Me Up, Scotty 
---
.main
  .show-for-medium-up.full-width.banner
    .orbit-container
      %ul.orbit{:data => {:orbit=> ""}}
        %li
          = image_tag 'images/banners/banner-home-1.jpg'
        %li
          = image_tag 'images/banners/banner-home-2.jpg'
        %li
          = image_tag 'images/banners/banner-home-3.jpg'
  .row.content
    .large-12.columns
      .row
        .large-12.small-centered.small-8.columns.who-am-i
          .row
            .large-12.small-12.columns.short-bio
              %h3
                %strong
                  We are an interaction design studio 
          .row.value-prop    
            .large-4.small-12.columns.details-matter
              .circle
              %h3
                Details 
              %p
                We believe there’s no such thing as a ‘detail’. Each and every element is important, no matter how small, and we give it the attention and care it deserves. 
            .large-4.small-12.columns.robust-software
              .circle
              %h3
                Design
              %p
                We create design that crafts a fantastic user experience, where every move a user makes is intuitive, seamless, and second nature.


            .large-4.small-12.columns.mobile-first
              .circle
              %h3
                Delivery
              %p
                We deliver a top-notch end product in both performance and usability, and users are better off for it. You will be too.
  .row.content.portfolio-logos.full-width
    .large-12.columns
      %h2
        %strong
          Our Clients
    .row
      .large-3.small-12.columns.hunger-station.desaturate
        - link_to 'http://hungerstation.com' do
          = image_tag 'images/logos/hunger-station-logo.png'
      .large-3.small-12.columns.haweee.desaturate
        - link_to 'http://haweee.com' do
          = image_tag 'images/logos/haweee-logo.png'
      .large-3.small-12.columns.namaa.desaturate
        - link_to 'http://nm.sa' do
          = image_tag 'images/logos/namaa-logo.png'
      .large-3.small-12.columns.albaik.desaturate
        - link_to 'http://albaik.com' do
          = image_tag 'images/logos/albaik-logo.png'

