---
title: Our Work - 966 Studios
---
:plain 
  <link href="stylesheets/work-banner.css" media="screen" rel="stylesheet" type="text/css" />


.main
  .row.full-width.full-banner
    .large-12.columns
      .full-width.postheader.banner.small-12.large-12.columns
        :plain
            <h1 class="article_title">We Scratch Our Own Itch</h1>
      .banner-text
        %h2.our-work-header.large-8.columns.large-centered.columns
          We love to solve problems. Give us your problems and we'll make them go away! Just like all the satisfied clients below.
          
  .row.portfolio-1.full-width
    .large-4.small-12.columns.hunger-station.client-column
      - link_to 'work/hunger-station' do
        = image_tag 'covers/hunger-station-cover.png'
        %h4
          Hunger station 
      %p
        Studio 966 collaborated with Hunger Station team to identify their current UX issues through comprehensive user studies with users around the Kingdom of Saudi Arabia. Studio 966 then did a full UX & UI redesign of Hunger Station mobile apps.

    .large-4.small-12.columns.haweee.client-column
      - link_to 'work/haweee' do
        = image_tag 'covers/haweee-cover.png'
        %h4
          Haweee 
      %p
        Haweee is a Saudi startup trying to connect amateur sport players in the real world. Studio 966 & Haweee worked on designing and developing iOS and Android apps that does just that.


    .large-4.small-12.columns.namaa.client-column
      - link_to 'work/namaa-conference' do
        = image_tag 'covers/namaa-cover.png'
        %h4
          Namaa Almunawara
      %p
        Studio 966 partnered with Namaa Almunawara to design a full solution to it's annual entrepreneurship conference. The final solution was an integeral part of the conference experience; which included scheduling, ticketing, applicant surveys, to name a few.

  .row.portfolio-2.full-width
    .large-4.small-12.columns.albaik.client-column
      - link_to 'work/albaik' do
        = image_tag 'covers/albaik-cover.png'
        %h4
          ALBAIK
      %p
        How do you ease the waiting times at the Kingdom's most successful fast food chain? That is the question ALBAIK & Studio 966 tried to answer through various user studies resulting in a beautifully designed web and mobile apps.

    .large-4.small-12.columns.currrva.client-column
      - link_to 'work/currrva' do
        = image_tag 'covers/currrva-cover.png'
        %h4
          Currrva
      %p
        The mobile startup Currrva collaborated with Studio 966 in order to design and develop a platform for video gamers to keep score of their results against their fiercest rivals (read: friends.)

    .large-4.small-12.columns.sift.client-column
      - link_to 'work/sift' do
        = image_tag 'covers/sift-cover.png'
        %h4
          Sift 
      %p
        Sift is our own clever little app that we designed at Studio 966. If you often find yourself hearing about film or book recommendations from your friends and family but never get around to actually exploring them, this app would serve you well.
